*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    font-family: 'Montserrat', sans-serif;
}

:root{
    --colorPrimary:#0d263b;
    --colorSecondary:#696969;

    --backgroundPrimary:#0061df;
    --padding: 0 130px;
}
.title{
    /* font-family: Montserrat; */
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: center;
}
.paragraph{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #696969;
}
.subtitle{
    /* font-family: Montserrat; */
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #0D263B;
}